
.holder {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
}

.item{
    flex: 1;
    width: 20px; /* Ensures items don't squash */
    padding: 20px;
    background-color: red;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
}